body,html	 

* {
    box-sizing: border-box;
}

.price {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: white;
    color: white;
    font-size: 25px;
}

.price li {
   
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #000000;
    font-size: 20px;
	color:white;
}

.button {
    background-color: #ffa500;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;}
	
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}	
----------------------------------------(JAVA)

#myImg,#myImg2,#myImg3,#myImg4,#myImg5,#myImg6,#myImg7,#myImg8,#myImg9,#myImg10,#myImg11,#myImg12,#myImg13,#myImg14,#myImg15{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}
#myImg2:hover {opacity: 0.7;}
#myImg3:hover {opacity: 0.7;}
#myImg4:hover {opacity: 0.7;}
#myImg5:hover {opacity: 0.7;}
#myImg6:hover {opacity: 0.7;}
#myImg7:hover {opacity: 0.7;}
#myImg8:hover {opacity: 0.7;}
#myImg9:hover {opacity: 0.7;}
#myImg10:hover {opacity: 0.7;}
#myImg11:hover {opacity: 0.7;}
#myImg12:hover {opacity: 0.7;}
#myImg13:hover {opacity: 0.7;}
#myImg14:hover {opacity: 0.7;}
#myImg15:hover {opacity: 0.7;}

.CityScape,.CityScape2,.CityScape3,.Portraits,.Portraits2,.Portraits3,.Portraits4,.Portraits5,.Portraits6,.UrbanV,.UrbanV2,.UrbanV3,.UrbanV4,.UrbanV5,.UrbanV6 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.CityScape-content,.CityScape-content2,.CityScape-content3,.Portraits-content,.Portraits-content2,.Portraits-content3,.Portraits-content4,.Portraits-content5,.Portraits-content6,
.UrbanV-content7,.UrbanV-content8,.UrbanV-content9,.UrbanV-content10,.UrbanV-content11,.UrbanV-content12 {
    margin: auto;
    display: block;
    width: 25%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.CityScape-content, #caption,.CityScape-content2,.CityScape-content3,.Portraits-content,.Portraits-content2,.Portraits-content3,.Portraits-content4,.Portraits-content5,.Portraits-content6,
.UrbanV-content7,.UrbanV-content8,.UrbanV-content9,.UrbanV-content10,.UrbanV-content11,.UrbanV-content12{ 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close2:hover,
.close3:hover,
.close4:hover,
.close5:hover,
.close6:hover,
.close7:hover,
.close8:hover,
.close9:hover,
.close10:hover,
.close11:hover,
.close12:hover,
.close13:hover,
.close14:hover,
.close15:hover


.close,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}